# * Project environement

# Victim device serial port address.
export ENVRC_VICTIM_PORT="$(source ./lib/discover.sh && find_nrf_com)"

# Recording sampling rate [Hz].
export ENVRC_SAMP_RATE=30000000 # 10e6

# Recording duration [s].
export ENVRC_DURATION=0.4

# Number of wanted traces for the training subset.
export ENVRC_WANTED_TRACE_TRAIN=65536

# Number of wanted traces for the attack subset.
export ENVRC_WANTED_TRACE_ATTACK=16384

# Recording near-field center frequency [Hz].
# NOTE: 128 MHz correspond to:
# 2 * 64e6 (CPU clock frequency).
export ENVRC_NF_FREQ=128000000 # 128e6

# Recording far-field center frequency [Hz].
# NOTE: 2.548 GHz corresponds to:
# 2.4e9 + 20e6 (BT channel 8) + 2*64e6 (CPU 2nd harmonics).
export ENVRC_FF_FREQ=2548000000 # 2.548e9

# Temporary directory for raw recordings. Default is "/tmp", but we use a
# custom mount to a SSD.
export ENVRC_RADIO_DIR="$HOME/storage/tmp"

# Directory holding the datasets.
export ENVRC_DATASET_PATH="$HOME/storage/dataset"

# Directory holding the RAW dataset.
export ENVRC_DATASET_RAW_PATH="$ENVRC_DATASET_PATH/tmp_raw"

# Directory holding the AVG dataset.
export ENVRC_DATASET_AVG_PATH="$ENVRC_DATASET_PATH/tmp_avg"

# Directory holding the EXT dataset.
export ENVRC_DATASET_EXT_PATH="$ENVRC_DATASET_PATH/tmp_ext"

# * Host-dependent environment

# Load host-dependent environment using the hostname.
source_env_if_exists .envrc.$(hostname)

# Check host-dependent variables. Don't check on Reaper since direnv version is
# too old and don't have env_vars_required.
if [[ $(hostname) != "Reaper" ]]; then
    # Victim device Bluetooth address.
    env_vars_required ENVRC_VICTIM_ADDR

    # Attack device Bluetooth address (spoofed from legitimate Central).
    # NOTE: For an instrumented target firmware, this address is hardcoded
    #       twice, here and in the host-dependent "compile.sh" script and/or in
    #       the SC_BD_ADDR_SPOOF MyNewt variable of the Nimble repository.
    # NOTE: For a legitimate target firmware, this address should be the
    # address of the legitimate HCI dongle used when establishing the pairing
    # (see discover.sh/find_hci_addr() function).
    env_vars_required ENVRC_ATTACKER_ADDR

    # Index of the radio used for near-field measurements. To configure, look
    # at green LED on the USRP when using one ID. Set to -1 to disable this
    # recording.
    env_vars_required ENVRC_NF_ID

    # Index of the radio used for far-field measurements. To configure, look at
    # green LED on the USRP when using one ID. Set to -1 to disable this
    # recording.
    env_vars_required ENVRC_FF_ID

    # Configuration for signal extraction (Refer to radio.py/extract()).
    env_vars_required ENVRC_EXTRACT_CONFIG

    # Configuration for the input generation during the dataset
    # initialization. Can be set to "PAIRING" or "BALANCED".
    env_vars_required ENVRC_DATASET_INPUT
fi
