# Input & Output.
export TRACES_RAW_DIR="$HOME/storage/screaming_channels_annex/01522c1a-c46f-47f3-9750-1c2c8c8b5565/train"
export TRACES_EXTRACTED_DIR="$HOME/storage/screaming_channels_dataset/train"
export TRACE_NB=20000
